.videoEl {
  width: 100%;
}

.previewBar {
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.disabled {
  /* pointer-events: none; */
  /* opacity: 0.6; */
}

.videoCnt {
  width: 400px;
  height: 225px;
}

.cannotPlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shuffle {
  position: absolute;
  right: 5px;
}
